menu "K1C debugging"

config K1C_DEBUG_ASN
	bool "Check ASN before writing TLB entry"
	default n
	help
	  This option allows to check if the ASN of the current
	  process is matching the ASN found in MMC. If it is not the
	  case an error will be printed.

config K1C_DEBUG_TLB_WRITE
	bool "Enable TLBs write checks"
	default n
	help
	  Enabling this option will enable TLB access checks. This is
	  particularly helpful when modifying the assembly code responsible
	  of TLB refill. If set, mmc.e will be checked each time the tlb are
	  written and a panic will be thrown on error.

config K1C_DEBUG_TLB_ACCESS
	bool "Enable TLBs accesses logging"
	default n
	help
	  Enabling this option will enable TLB entry manipulation logging.
	  Each time an entry will be added to the TLBs, it will be logged in
	  an array readable via gdb scripts. This can be useful to understand
	  strange crashes related to suspicious virtual/physical addresses.

config K1C_DEBUG_TLB_ACCESS_BITS
	int "Number of bits used as index of entries in log table"
	default 12
	depends on K1C_DEBUG_TLB_ACCESS
	help
	  Set the number of bits used as index of entries that will be logged
	  in a ring buffer called k1c_tlb_access. One entry in the table
	  contains registers TEL, TEH and MMC. It also logs the type of the
	  operations (0:read, 1:write, 2:probe). Buffer is per CPU. For one
	  entry 24 bytes are used. So by default it uses 96Ko of memory per
	  CPU to store 2^12 (4096) entries.

config K1C_MMU_STATS
	bool "Register mmu stats debugfs entries"
	default n
	select DEBUG_FS
	help
	  Enable debugfs attribute which will allow inspecting various metric
	  regarding MMU:
	  - Number of nomapping traps handled
	  - avg/min/max time for nomapping refill (user/kernel)

config DEBUG_EXCEPTION_STACK
	bool "Enable exception stack debugging"
	default n
	help
	  Enable stack check debugging when entering/exiting
	  exception handlers.
	  This can be particularly helpful after modifying stack
	  handling to see if stack when exiting is the same as the one
	  when entering exception handler.

config DEBUG_SFR_SET_MASK
	bool "Enable sfr set_mask debugging"
	default n
	help
	  Verify that values written using k1_sfr_set_mask are matching the
	  mask. This ensure that no extra bits of sfr will be overridden by some
	  incorrectly truncated values. This can lead to huge problems by
	  modifying important bits in system registers.

endmenu
