#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

config 64BIT
	def_bool y

config GENERIC_CALIBRATE_DELAY
	def_bool y

config FIX_EARLYCON_MEM
	def_bool y

config MMU
	def_bool y

config KALLSYMS_BASE_RELATIVE
        def_bool n

config GENERIC_CSUM
	def_bool y

config RWSEM_GENERIC_SPINLOCK
	def_bool y

config GENERIC_HWEIGHT
	def_bool y

config HAVE_COPY_THREAD_TLS
	def_bool y

config K1C
	def_bool y
	select OF
	select OF_EARLY_FLATTREE
	select OF_RESERVED_MEM
	select GENERIC_IRQ_CHIP
	select GENERIC_IRQ_PROBE
	select GENERIC_IRQ_SHOW
	select GENERIC_IOMAP
	select GENERIC_CPU_DEVICES
	select GENERIC_CLOCKEVENTS
	select THREAD_INFO_IN_TASK
	select COMMON_CLK
	select CLKSRC_OF
	select GENERIC_CLOCKEVENTS
	select HAVE_MEMBLOCK
	select NO_BOOTMEM
	select TIMER_OF
	select K1C_CORE_INTC

config PGTABLE_LEVELS
	int
	default 2 if K1C_64K_PAGES
	default 3

config HAVE_KPROBES
	def_bool n

menu "System setup"

config PANIC_SCALL
	bool "Emit a magic syscall in panic"
	default y
	help
	  In order to validate the step where the kernel goes, we need
	  to emit an exit signal if the panic match the expected one.
	  Enabling this option add a panic notifier.

config PANIC_SYSCALL_EXPECTED
        string "Expected panic string"
        depends on PANIC_SCALL
        default ""
        help
          Expected string by syscall panic notifier. If panic string
          matches the expected, exit with 0, else exit with 1.

config POISON_INITMEM
	bool "Enable to poison freed initmem"
	default y
        help
          In order to debug initmem, using poison allows to verify if
	  some data/code is stille using them. Enable this for debug
	  purposes

config K1C_PHYS_OFFSET
	hex "RAM address of memory base"
	default 0x80000000

config K1C_PAGE_OFFSET
	hex "RAM address of memory base"
	default 0xFFFFFF0000000000

config STACK_MAX_DEPTH_TO_PRINT
	int "Maximum depth of stack to print"
	range 1 128
	default "24"

config NR_CPUS
	int "Maximum number of CPUs"
	range 2 16
	depends on SMP
	help
	  Kalray support can handle a maximum of 16 CPUs.

choice
	prompt "Page size"
	default K1C_4K_PAGES
	help
	  Page size (translation granule) configuration.

config K1C_4K_PAGES
	bool "4KB"
	help
	  This feature
	  enables 4KB
	  pages
	  support.

config K1C_64K_PAGES
	bool "64KB"
	help
	  This feature
	  enables 64KB
	  pages support
	  (4KB by default).

endchoice

config K1C_PAGE_SHIFT
	int
	default 16 if K1C_64K_PAGES
	default 12

config CMDLINE
        string "Default kernel command string"
        default ""
        help
          On some architectures there is currently no way for the boot loader
          to pass arguments to the kernel. For these architectures, you should
          supply some command-line options at build time by entering them
          here.

endmenu

menu "Kernel Features"
source "kernel/Kconfig.hz"
endmenu
