CONFIG_DEFAULT_HOSTNAME="K1Clinux"
CONFIG_EMBEDDED=y
CONFIG_SERIAL_K1C_SCALL_COMM=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_PANIC_TIMEOUT=-1
CONFIG_BLK_DEV_INITRD=y
CONFIG_PANIC_SYSCALL=y
CONFIG_PANIC_SYSCALL_EXPECTED="pmd_populate is not implemented yet"
