CONFIG_DEFAULT_HOSTNAME="K1Clinux"
CONFIG_EMBEDDED=y
CONFIG_SERIAL_K1C_SCALL_COMM=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_PRINTK_TIME=y
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=15
CONFIG_MESSAGE_LOGLEVEL_DEFAULT=7
CONFIG_PANIC_TIMEOUT=-1
CONFIG_BLK_DEV_INITRD=y
CONFIG_PANIC_SYSCALL=y
CONFIG_PANIC_SYSCALL_EXPECTED="No working init found.  Try passing init= option to kernel. See Linux Documentation/admin-guide/init.rst for guidance."
