#
# Kalray device configuration
#

config NET_VENDOR_KALRAY
	bool "Kalray devices"
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Kalray cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_KALRAY
config NET_KVX_SOC
	tristate "Kalray ethernet support"
	depends on KVX_DMA_NOC
	depends on I2C
	select PAGE_POOL
	select NET_TI_RTM
	help
	  This driver supports the KVX Ethernet hardware using dma_noc driver
	  as dependency.
	  Allows configuring load balancing (flow control, parsing) and
	  TX flow.

	  To compile this driver as a module, choose M here.

config NET_KVX_QSFP
	tristate "Kalray QSFP cage support"
	select I2C

endif # NET_VENDOR_KALRAY
