# SPDX-License-Identifier: GPL-2.0

config KVX_SOCINFO
	tristate "KVX socinfo driver"
	default y
	depends on KVX
	select NVMEM
	select KVX_OTP_NV
	select SOC_BUS
	help
	  Exposes KVX soc information in sysfs by reading informations
	  from various sources (nvmem, registers, etc).

config KVX_SMEM_ALLOC
	tristate "KVX SMEM allocation driver"
	default y
	depends on KVX
	help
	  Exposes a /dev/smem0 device to specifically allocate and use SMEM
	  from Linux userspace.
